/VentaDeOrdenadores/build/
/VentaDeOrdenadoresPermanencia/nbproject/private/
/VentaDeOrdenadoresPermanencia/build/
/VentaDeOrdenadores_conPerm/nbproject/private/
/VentaDeOrdenadores_conPerm/build/
/ClientesDB/nbproject/private/
/ClientesDB/build/
/ClientesDB/dist/